<h1>Tacos!!</h1>

<p>Welcome</p>

<% fillings = ["carnitas", "pescado", "mushroom", "avocado", "al pastor"] %>

<p> We have <%= fillings.count %> tacos </p>

<ul>
<% for filling in fillings %>
<li><%=filling%></li>
<%end%>
</ul>